<!-- poultry_farm_management/views/menu.xml -->
<odoo>
    <menuitem id="poultry_root_menu" name="Poultry Farm" sequence="1"/>

    <!-- Other menus as children of Farm -->
    <menuitem id="menu_poultry_setup" name="Setup" parent="menu_poultry" sequence="1"/>
    <menuitem id="menu_poultry_hr" name="HR" parent="menu_poultry" sequence="5"/>
    <menuitem id="menu_poultry_finance" name="Finance" parent="menu_poultry" sequence="10"/>

    <menuitem id="menu_poultry_farm" name="Farm" sequence="15" parent="menu_poultry"/>


    <menuitem id="menu_finance_report" name="Finance Report" sequence="20" parent="menu_poultry"/>

    <menuitem id="menu_finance_reports"
              name="Finance Reports"
              parent="menu_finance_report"
              sequence="10"/>

    <record id="action_finance_report_wizard" model="ir.actions.act_window">
        <field name="name">Finance Report Wizard</field>
        <field name="res_model">poultry.finance.report</field>
        <field name="view_mode">form</field>
        <field name="target">new</field>
    </record>

    <menuitem id="menu_finance_report_wizard"
              name="Generate Finance Report"
              parent="menu_finance_reports"
              action="action_finance_report_wizard"
              sequence="5"/>

</odoo>
